@media screen and (min-width: 768px) and (max-width: 100000px) {

  /*
  author: Adonis, Anubis (for the Callout styles)
  */

  /* --- Callouts (sleek) --- */

  .callout:not(.is-collapsible) {
    padding: 0px;
  }
  .callout:not(.is-collapsible) .callout-content {
    padding: 0 var(--callout-title-padding) var(--callout-title-padding) var(--callout-title-padding);
  }
  .callout:not(.is-collapsible) .callout-title {
    background-color: rgba(var(--callout-color), 0 0.5);
    padding: var(--callout-title-padding);
    cursor: pointer;
  }
  .callout:not(.is-collapsible) .callout-title .callout-title-inner {
    font-weight: normal;
  }

  .callout:not(.is-collapsible) {
    border-color: rgba(var(--callout-color), 0.4);
    border-width: 1px;
    border-radius: var(--callout-radius);
    background-color: rgba(var(--ctp-mantle), 0.4);
  }

  .callout-content {
    padding: var(--callout-title-padding) var(--callout-title-padding) var(
        --callout-title-padding
      ) calc(var(--callout-title-padding) * 1.5);
    border-top: 1px dashed rgba(var(--callout-color), 0.4);
  }

  .callout-fold {
    padding-right: 0px;
  }

  .callout-title-inner {
    flex-grow: var(--anp-callout-fold-position, unset);
  }

  .callout {
    --callout-title-padding: var(--size-4-2);
  }
  .callout.is-collapsible {
    border-color: rgba(var(--callout-color), 0.4);
    border-width: 1px;
    border-radius: var(--callout-radius);
    background-color: rgba(var(--ctp-mantle), 0.4);
    --bold-weight: bolder;
  }
  .callout.is-collapsible .callout-fold {
    padding-right: 0px;
  }
  .callout.is-collapsible .callout-title-inner {
    flex-grow: var(--anp-callout-fold-position, unset);
  }
  .callout.is-collapsible.is-collapsed {
    padding: 0;
  }
  .callout.is-collapsible.is-collapsed .callout-title {
    background-color: rgba(var(--callout-color), 0.1);
    padding: var(--callout-title-padding);
    cursor: pointer;
  }
  .callout.is-collapsible.is-collapsed .callout-content {
    display: none;
  }
  .callout.is-collapsible:not(.is-collapsed) {
    padding: 0px 0px var(--callout-title-padding) 0px;
  }
  .callout.is-collapsible:not(.is-collapsed) .callout-title {
    background-color: rgba(var(--callout-color), 0.1);
    padding: var(--callout-title-padding);
    border-color: rgba(var(--callout-color), 0.4);
    cursor: pointer;
  }
  .callout.is-collapsible:not(.is-collapsed) .callout-content {
    padding: var(--callout-title-padding) var(--callout-title-padding) 0 calc(var(
        --callout-title-padding
      ) * 1.5);
    border-top: 1px dashed rgba(var(--callout-color), 0.4);
  }
  .callout .list-collapse-indicator {
    margin-left: -35px;
    padding-right: 3px;
  }


  /* --- Editor margin --- */

  .is-readable-line-width .cm-sizer,
  .is-readable-line-width .markdown-preview-sizer {
      margin-left: calc(min(150px, 10%)) !important;
      margin-right: auto !important;
  }

  /* --- Headings --- */
  .cm-s-obsidian .HyperMD-header-2::after {
      pointer-events: none !important;
  }

  /* --- Center tables --- */

  .markdown-preview-view table,
  .markdown-source-view.mod-cm6 table {
    width: fit-content;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

